<nav class="header mat-elevation-z8">
  <i class="header__icon material-icons">bar_chart</i>
  <span class="mat-h1">VW Dashboard 1.0</span>
</nav>
<nav class="footer mat-elevation-z8">
  <span class="mat-caption">(C) Shop floor energy consumption</span>
</nav>

<main>
  <mat-toolbar class="toolbar">
    <nav mat-tab-nav-bar color="primary">

      <a mat-tab-link
         routerLink="/live"
         routerLinkActive #rlaLive="routerLinkActive"
         [active]="rlaLive.isActive">
        <i class="material-icons"> play_circle_outline </i>
        <span class="mat-h3 toolbar__item">Live</span>
      </a>

      <a mat-tab-link
         routerLink="/historical"
         routerLinkActive #rlaHistorical="routerLinkActive"
         [active]="rlaHistorical.isActive">
        <i class="material-icons"> access_time </i>
        <span class="mat-h3 toolbar__item">Historical</span>
      </a>

    </nav>
  </mat-toolbar>
  <div class="main__content">
    <mat-progress-spinner *ngIf="stateService.isLoading$ | async"
                          class="spinner"
                          mode="indeterminate"
    ></mat-progress-spinner>
    <router-outlet></router-outlet>
  </div>
</main>
